.background {
    -fx-background-image: url("img/background.png");
    -fx-background-size: cover;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0; /* Товщина лінії (верх, право, низ, ліво) */
    -fx-border-color: black; /* Колір лінії */
    -fx-border-insets: 0 0 610px 0; /* Опускаємо лінію вниз на 50 пікселів */
}

.button {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #E8BD24;
    -fx-background-radius: 10px;
    -fx-translate-y: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.button:pressed, .button:focused {
    -fx-background-color: #FCAD38;
}

.message-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #f6f6f4;
}