.background {
    -fx-background-image: url("img/background.png");
    -fx-background-size: cover;
    -fx-border-style: solid;
    /*-fx-border-width: 0 0 2px 0; !* Товщина лінії (верх, право, низ, ліво) *!*/
    /*-fx-border-color: black; !* Колір лінії *!*/
    /*-fx-border-insets: 0 0 610px 0; !* Опускаємо лінію вниз на 50 пікселів *!*/

}

.button {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #E8BD24;
    -fx-background-radius: 10px;
    -fx-translate-y: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button:pressed, .button:focused {
    -fx-background-color: #FCAD38;
}

.message-label-left {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10px;
    -fx-min-width: 540px; /* Жорстка ширина */
    -fx-max-width: 540px; /* Жорстка ширина */
    -fx-min-height: 550px; /* Жорстка висота */
    -fx-max-height: 550px; /* Жорстка висота */
    -fx-translate-x: 30px; /* Зміщення вправо на 20px */
    -fx-translate-y: 30px;
}

.message-label-right {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10px;
    -fx-min-width: 540px; /* Жорстка ширина */
    -fx-max-width: 540px; /* Жорстка ширина */
    -fx-min-height: 550px; /* Жорстка висота */
    -fx-max-height: 550px; /* Жорстка висота */
    -fx-translate-x: 150px; /* Зміщення вправо на 20px */
    -fx-translate-y: 30px;
}

.message-label {
    -fx-font-size: 20px; /* Розмір шрифту */
    -fx-font-weight: bold; /* Жирний стиль шрифту */
    -fx-text-fill: #333333; /* Колір тексту */
    -fx-font-family: "Arial"; /* Шрифт */
    -fx-text-alignment: left; /* Вирівнювання тексту по лівому краю */
    /* Додайте інші властивості за потреби */
}

.meal-name {
    -fx-font-size: 24px; /* Розмір шрифту для назви страви */
    -fx-font-weight: bold; /* Жирний стиль шрифту для назви страви */
    -fx-text-fill: #FFA500; /* Колір тексту для назви страви */
}

.meal-description {
    -fx-font-size: 18px; /* Розмір шрифту для опису страви */
    -fx-font-weight: normal; /* Нормальний стиль шрифту для опису страви */
    -fx-text-fill: #666666; /* Колір тексту для опису страви */
}