.background {
    /* Зображення тла */
    -fx-background-image: url("img/background.png");
    -fx-background-size: cover; /* Покриває всю область */
    -fx-border-style: solid; /* Суцільна межа */
}

.button {
    /* Стилі кнопок */
    -fx-min-width: 200px; /* Мінімальна ширина */
    -fx-max-width: 200px; /* Максимальна ширина */
    -fx-min-height: 38px; /* Мінімальна висота */
    -fx-max-height: 38px; /* Максимальна висота */
    -fx-border-color: black; /* Колір межі */
    -fx-border-width: 2px; /* Ширина межі */
    -fx-border-radius: 25px; /* Радіус межі (більше, ніж радіус фону) */
    -fx-background-color: #E8BD24; /* Колір тла */
    -fx-background-radius: 20px; /* Радіус межі */
    -fx-translate-y: 10px; /* Вертикальний зсув */
    -fx-font-size: 20px; /* Розмір шрифту */
    -fx-font-weight: bold; /* Жирний шрифт */
    -fx-padding: 2px; /* Відступ всередині кнопки */
}

.button:pressed, .button:focused {
    /* Стилі кнопок при натисканні або фокусі */
    -fx-background-color: #FCAD38; /* Колір тла */
}

.buy-button {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-border-radius: 0px;
    -fx-translate-y: -50px;/* Зсув вверх */
    -fx-translate-x: 450px;/* Зсув по вертикалі */
}

.buy-button:pressed {
    /* Стилі кнопок при натисканні або фокусі */
    -fx-background-color: #FCAD38; /* Колір тла */
}

.message-label-left {
    /* Стилі мітки повідомлення зліва */
    -fx-font-size: 18px; /* Розмір шрифту */
    -fx-font-weight: bold; /* Жирний шрифт */
    -fx-background-color: rgba(255, 255, 255, 0.3); /* Колір тла з прозорістю */
    -fx-background-radius: 10px; /* Радіус межі */
    -fx-min-width: 540px; /* Мінімальна ширина */
    -fx-max-width: 540px; /* Максимальна ширина */
    -fx-min-height: 550px; /* Мінімальна висота */
    -fx-max-height: 550px; /* Максимальна висота */
    -fx-translate-x: 30px; /* Горизонтальний зсув */
    -fx-translate-y: 30px; /* Вертикальний зсув */
}

.message-label-right {
    /* Стилі мітки повідомлення справа */
    -fx-font-size: 18px; /* Розмір шрифту */
    -fx-font-weight: bold; /* Жирний шрифт */
    -fx-background-color: rgba(255, 255, 255, 0.3); /* Колір тла з прозорістю */
    -fx-background-radius: 10px; /* Радіус межі */
    -fx-min-width: 540px; /* Мінімальна ширина */
    -fx-max-width: 540px; /* Максимальна ширина */
    -fx-min-height: 550px; /* Мінімальна висота */
    -fx-max-height: 550px; /* Максимальна висота */
    -fx-translate-x: 150px; /* Горизонтальний зсув */
    -fx-translate-y: 30px; /* Вертикальний зсув */
}

.view-label {
    /* Стилі мітки перегляду */
    -fx-font-size: 25px; /* Розмір шрифту */
    -fx-font-weight: bold; /* Жирний шрифт */
    -fx-text-fill: #333333; /* Колір тексту */
    -fx-font-family: "Arial"; /* Сімейство шрифтів */
    -fx-translate-x: 200px; /* Горизонтальний зсув */
}

.meal-info {
    /* Стилі контейнера інформації про страви */
    -fx-spacing: 5px; /* Відстань між елементами всередині контейнера */
}

.meal-name {
    /* Стилі назви страви */
    -fx-translate-x: 13px;/* Зсув по вертикалі */
    -fx-font-weight: bold; /* Жирний шрифт */
    -fx-text-fill: #333333; /* Колір тексту */
}

.meal-price {
    /* Стилі ціни страви */
    -fx-font-style: italic; /* Курсивний шрифт */
    -fx-text-fill: #555555; /* Колір тексту */
    -fx-translate-x: 320px;/* Зсув по вертикалі */
}

.meal-description {
    /* Стилі опису страви */
    -fx-translate-x: 20px;/* Зсув по вертикалі */
    -fx-font-size: 15px; /* Розмір шрифту */
    -fx-text-fill: #666666; /* Колір тексту */
}

.drink-info {
    /* Стилі контейнера інформації про напої */
    -fx-spacing: 5px; /* Відстань між елементами всередині контейнера */
}

.drink-name {
    /* Стилі назви напою */
    -fx-translate-x: 13px;/* Зсув по вертикалі */
    -fx-font-weight: bold; /* Жирний шрифт */
    -fx-text-fill: #333333; /* Колір тексту */
}

.drink-price {
    /* Стилі ціни напою */
    -fx-font-style: italic; /* Курсивний шрифт */
    -fx-text-fill: #555555; /* Колір тексту */
    -fx-translate-x: 320px;/* Зсув по вертикалі */
}

.drink-description {
    /* Стилі опису напою */
    -fx-translate-x: 20px;/* Зсув по вертикалі */
    -fx-font-size: 15px; /* Розмір шрифту */
    -fx-text-fill: #666666; /* Колір тексту */
}
